<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Departments</title>
    <link rel="stylesheet" th:href="@{style.css}"  type="text/css">
</head>
<body>
    <h1>An overview of our departments</h1>
    <table>
        <tr th:if="${departments.isEmpty()}">
            <td colspan="2"> No departments available </td>
        </tr>
        <tr th:each="department : ${departments}">
            <td th:text="${department.toString()}"></td>
        </tr>
    </table>
</body>
</html>
